<h2 mat-dialog-title>Nueva Liquidación de Ingresos</h2>
<form [formGroup]="form" class="form" (ngSubmit)="onSubmit(form.value)" autocomplete="off">
  <mat-dialog-content class="mat-typography" perfectScrollbar>
    <div fxLayout fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label> Procedencia <span class="text-required">*</span> </mat-label>
          <input matInput formControlName="procedencia" maxlength="100" readonly>
          <mat-error *ngIf="form.controls.procedencia.errors?.required">*Requerido
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Cuenta Corriente <span class="text-required">*</span></mat-label>
          <mat-select #select1 placeholder="Cuenta Corriente" formControlName="cuentaCorriente"
            (selectionChange)="seletedChangeCuentaCorriente($event.value)">
            <mat-select-filter *ngIf="select1.focused" [displayMember]="'numeroDenominacion'"
              [noResultsMessage]="'No se encontraron registros'" [placeholder]="'Buscar'" [array]="cuentasCorrientes"
              (filteredReturn)="filteredcuentasCorrientes =$event">
            </mat-select-filter>
            <mat-option *ngFor="let item of filteredcuentasCorrientes" [value]="item">
              {{item.numeroDenominacion}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.cuentaCorriente.errors?.required">*Requerido
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Fuente Financiamiento <span class="text-required">*</span></mat-label>
          <mat-select formControlName="fuenteFinanciamiento"
            (selectionChange)="selectedChangeFuenteFinanciamiento($event.value)">
            <mat-option *ngFor="let item of fuenteFinanciamientos" [value]="item">
              {{ item?.codigo }} - {{ item?.rubroCodigo }} - {{ item?.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Rubro</mat-label>
          <input matInput formControlName="rubro" maxlength="100" readonly>
        </mat-form-field>
      </div>
    </div>
    <br>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCloseDialog()">Cerrar</button>
    <button mat-raised-button type="submit" [disabled]="!form.valid" color="primary">Guardar</button>
  </mat-dialog-actions>
</form>