<div fxLayout="column" fxLayout.gt-sm="row wrap">
  <div fxFlex="100" class="flex-p">
    <mat-card>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Filtros de búsqueda
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="form" class="form" (ngSubmit)="onSearch(form.value)" autocomplete="off">
              <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
                <div fxFlex>
                  <mat-form-field appearance="fill">
                    <mat-label> Unidades Ejecutoras </mat-label>
                    <mat-select formControlName="unidadEjecutoraId">
                      <mat-option *ngFor="let item of unidadesEjecutoras" [value]="item.unidadEjecutoraId">
                        {{item.nombre}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="20">
                  <mat-form-field appearance="fill">
                    <mat-label> Estado</mat-label>
                    <mat-select formControlName="estado">
                      <mat-option *ngFor="let item of estados" [value]="item.value">
                        {{item.label}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
                <div class="button-row">
                  <button color="accent" mat-raised-button>
                    Buscar
                  </button>
                  <button type="button" (click)="onClean()" mat-raised-button>
                    Limpiar
                  </button>
                </div>
              </div>
            </form>

          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <div fxLayout="row" fxLayoutAlign="end center">
          <div fxFlex style="text-align: right;">
            <div class="button-row">
              <button type="button" color="primary" *ngIf="onAccion(accionEnum.AGREGAR)" (click)="openDialogNew()" mat-raised-button>Nuevo</button>
            </div>
          </div>
        </div>
        <div style="padding-bottom: 10px;"></div>
        <mat-divider></mat-divider>
        <div style="padding-top: 10px;"></div>
        <div>
          <mat-progress-bar mode="indeterminate" *ngIf="dataSource.isLoadingResults"></mat-progress-bar>
          <div class="table-container">
            <table mat-table [dataSource]="dataSource" matSort matSortDisableClear>

              <!-- ID Column -->
              <ng-container matColumnDef="index" sticky>
                <th mat-header-cell *matHeaderCellDef> Nro</th>
                <td mat-cell *matCellDef="let row;"> {{ row?.index}}</td>
              </ng-container>

              <ng-container matColumnDef="firmante">
                <th mat-header-cell *matHeaderCellDef> Firmante </th>
                <td mat-cell *matCellDef="let row"> {{ row?.firmante }} </td>
              </ng-container>

              <ng-container matColumnDef="numeroRuc">
                <th mat-header-cell *matHeaderCellDef> Número Ruc </th>
                <td mat-cell *matCellDef="let row"> {{ row?.numeroRuc }} </td>
              </ng-container>

              <ng-container matColumnDef="razonSocial">
                <th mat-header-cell *matHeaderCellDef> Razón Social </th>
                <td mat-cell *matCellDef="let row"> {{ row?.razonSocial }} </td>
              </ng-container>

              <ng-container matColumnDef="direccion">
                <th mat-header-cell *matHeaderCellDef> Dirección </th>
                <td mat-cell *matCellDef="let row"> {{ row?.direccion }} </td>
              </ng-container>

              <ng-container matColumnDef="departamento">
                <th mat-header-cell *matHeaderCellDef> Departamento </th>
                <td mat-cell *matCellDef="let row"> {{ row?.departamento }} </td>
              </ng-container>

              <ng-container matColumnDef="provincia">
                <th mat-header-cell *matHeaderCellDef> Provincia </th>
                <td mat-cell *matCellDef="let row"> {{ row?.provincia }} </td>
              </ng-container>

              <ng-container matColumnDef="distrito">
                <th mat-header-cell *matHeaderCellDef> Distrito </th>
                <td mat-cell *matCellDef="let row"> {{ row?.distrito }} </td>
              </ng-container>

              <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let row">
                  <span *ngIf="row?.estado"> {{eEstado.ACTIVO}} </span>
                  <span *ngIf="!row?.estado"> {{eEstado.INACTIVO}} </span>
                </td>
              </ng-container>

              <!-- Actions Column -->
              <ng-container matColumnDef="actions" stickyEnd>
                <th mat-header-cell *matHeaderCellDef class="center">
                  Acciones
                </th>
                <td mat-cell *matCellDef="let row; let i = index" class="center">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">

                    <button mat-menu-item *ngIf="row?.estado" (click)="openDialogInfo(row)">
                      <mat-icon aria-label="View" class="edit">touch_app</mat-icon>
                      <span>Ver Información</span>
                    </button>

                    <button mat-menu-item (click)="openDialogEdit(row)" *ngIf="row?.estado && onAccion(accionEnum.MODIFICAR)">
                      <mat-icon aria-label="Edit">edit</mat-icon>
                      <span>Editar</span>
                    </button>

                    <button mat-menu-item (click)="onActivar(row)" *ngIf="!row?.estado && onAccion(accionEnum.ACTIVAR)">
                      <mat-icon aria-label="Activar">thumb_up_alt</mat-icon>
                      <span>Activar</span>
                    </button>

                    <button mat-menu-item (click)="onInactivar(row)" *ngIf="row?.estado && onAccion(accionEnum.INACTIVAR)">
                      <mat-icon aria-label="Inactivar">thumb_down_alt</mat-icon>
                      <span>Inactivar</span>
                    </button>

                  </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
            <div class="no-results" *ngIf="!dataSource.isLoadingResults"
              [style.display]="dataSource.totalItems === 0 ? '' : 'none'">
              No se encontraron registros
            </div>
            <mat-paginator [length]="dataSource.totalItems" [pageSize]="5" [pageSizeOptions]="[5,10,20,50]" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>