<h2 mat-dialog-title>
  Información Fuente Financiamiento
</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()" #psForm="ngForm">
  <div mat-dialog-content perfectScrollbar>
    <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
      <div fxFlex="30">
        <mat-form-field appearance="fill">
          <mat-label>Código</mat-label>
          <input matInput formControlName="codigo" maxlength="2" readonly />
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Descripción</mat-label>
          <input matInput formControlName="descripcion" maxlength="100" readonly />
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
      <div fxFlex="30">
        <mat-form-field appearance="fill">
          <mat-label>Código de Rubro </mat-label>
          <input matInput formControlName="rubroCodigo" maxlength="10" readonly />
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Descripción de Rubro</mat-label>
          <input matInput formControlName="rubroDescripcion" maxlength="100" readonly />
        </mat-form-field>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button type="button" mat-button mat-dialog-close>Cerrar</button>
  </mat-dialog-actions>
</form>