<h2 mat-dialog-title>Nota de Crédito Electrónica</h2>
<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
  <mat-dialog-content perfectScrollbar>
    <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
      <div fxFlex>
        <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
          <div fxFlex>
            <mat-form-field appearance="fill">
              <mat-label>Serie</mat-label>
              <input matInput formControlName="serie" readonly />
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field appearance="fill">
              <mat-label>Número</mat-label>
              <input matInput formControlName="correlativo" readonly />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxFlex>
        <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
          <div fxFlex>
            <mat-form-field appearance="fill">
              <mat-label>Fecha Emisión</mat-label>
              <input matInput [min]="minDate" [matDatepicker]="picker" formControlName="fechaEmision" readonly />
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field appearance="fill">
              <mat-label>Fecha Vencimiento</mat-label>
              <input matInput [min]="minDate" [matDatepicker]="picker2" formControlName="fechaVencimiento" readonly />
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
      <div fxFlex>
        <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
          <div fxFlex>
            <mat-form-field appearance="fill" class="form">
              <mat-label>Tipo Documento</mat-label>
              <mat-select formControlName="tipoDocumentoIdentidadId">
                <mat-option *ngFor="let item of tipoDocIdentidades" [value]="item.tipoDocumentoIdentidadId">
                  {{item.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field appearance="fill">
              <mat-label>Número Documento</mat-label>
              <input matInput formControlName="numeroDocumento" readonly>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label> Razón Social/Nombres y Apellidos </mat-label>
          <input matInput formControlName="nombreCliente" readonly>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px">
      <div fxFlex>
        <div fxLayout fxLayout.xs="column wrap" fxLayoutGap="10px">
          <div fxFlex>
            <mat-form-field appearance="fill" class="form">
              <mat-label>Tipo de Operacion</mat-label>
              <mat-select formControlName="codigoTipoOperacion">
                <mat-option *ngFor="let item of tipoOperaciones" [value]="item.value">
                  {{ item.value }} - {{ item.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field appearance="fill" class="form">
              <mat-label>Tipo Adquisición</mat-label>
              <mat-select formControlName="tipoAdquisicion">
                <mat-option *ngFor="let item of tipoAdquisiciones" [value]="item.value">
                  {{ item.value }} - {{ item.label }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls.tipoAdquisicion.errors?.required">*Requerido</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxFlex>
        <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px">
          <div fxFlex>
            <mat-form-field appearance="fill">
              <mat-label>Condición de Pago</mat-label>
              <mat-select formControlName="tipoCondicionPago">
                <mat-option *ngFor="let item of tipoCondicionPagos" [value]="item.value">
                  {{item.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field appearance="fill" class="form">
              <mat-label>Tipo Captación</mat-label>
              <mat-select formControlName="tipoCaptacionId">
                <mat-option *ngFor="let item of tipoCaptaciones" [value]="item.tipoCaptacionId">
                  {{ item.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex *ngIf="!hiddenCheque">
            <mat-form-field appearance="fill">
              <mat-label>Número Cheque</mat-label>
              <input matInput formControlName="numeroCheque" maxlength="25" readonly />
            </mat-form-field>
          </div>
        </div>
      </div>

    </div>
    <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px">
      <div fxFlex>
        <mat-form-field appearance="fill" *ngIf="!hiddenDeposito">
          <mat-label>Cuenta Corriente</mat-label>
          <mat-select #select1 formControlName="cuentaCorriente">
            <mat-select-filter *ngIf="select1.focused" [displayMember]="'numeroDenominacion'"
              [noResultsMessage]="'No se encontraron registros'" [placeholder]="'Buscar'" [array]="cuentasCorrientes"
              (filteredReturn)="filteredCuentasCorrientes =$event">
            </mat-select-filter>
            <mat-option *ngFor="let item of filteredCuentasCorrientes" [value]="item">
              {{item.numeroDenominacion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex>
        <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px">
          <div fxFlex>
            <mat-form-field appearance="fill" *ngIf="!hiddenDeposito">
              <mat-label>Fecha depósito</mat-label>
              <input matInput [matDatepicker]="picker3" [max]="maxDate" formControlName="fechaDeposito" />
              <mat-datepicker #picker3></mat-datepicker>
              
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field appearance="fill" *ngIf="!hiddenDeposito">
              <mat-label>Número de depósito</mat-label>
              <input matInput formControlName="numeroDeposito" readonly />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <br />
    <mat-divider></mat-divider>
    <h3 class="text-subtitle">Encargado</h3>
    <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px">
      <div fxFlex>
        <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px">
          <div fxFlex>
            <mat-form-field appearance="fill" class="form">
              <mat-label>Tipo Documento</mat-label>
              <mat-select formControlName="encargadoTipoDocumento">
                <mat-option *ngFor="let item of tipoDocIdentidadesEncargado" [value]="item.tipoDocumentoIdentidadId">
                  {{item.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field appearance="fill">
              <mat-label>Número de documento</mat-label>
              <input matInput formControlName="encargadoNumeroDocumento" readonly/>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Nombres y Apellidos</mat-label>
          <input matInput formControlName="encargadoNombre" readonly />
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="!hiddenDocFuente">
      <br />
      <mat-divider></mat-divider>
      <h3 class="text-subtitle">Documento a Modificar</h3>
      <div fxLayout fxLayout.xs="column wrap" fxLayoutGap="10px">
        <div fxFlex *ngIf="data.tipoDocumentoId == this.tipoDocEnum.NOTA_CREDITO">
          <mat-form-field appearance="fill" class="form">
            <mat-label>Fuente Origen</mat-label>
            <mat-select formControlName="fuenteOrigen">
              <mat-option *ngFor="let item of fuenteOrigenes" [value]="item.value">
                {{item.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field appearance="fill" class="form">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="fuenteTipoDocumento">
              <mat-option *ngFor="let item of tipoFuentes" [value]="item.tipoComprobantePagoId">
                {{item.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="20">
          <mat-form-field appearance="fill">
            <mat-label>Serie</mat-label>
            <input matInput formControlName="fuenteSerie" readonly>
          </mat-form-field>
        </div>

        <div fxFlex="20">
          <mat-form-field appearance="fill">
            <mat-label>Número</mat-label>
            <input matInput formControlName="fuenteCorrelativo" readonly>
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field appearance="fill" class="form" *ngIf="data.tipoDocumentoId == this.tipoDocEnum.NOTA_CREDITO">
            <mat-label>Tipo Nota Crédito</mat-label>
            <mat-select formControlName="codigoTipoNota">
              <mat-option *ngFor="let item of tipoNotaCreditos" [value]="item.value">
                {{item.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="form" *ngIf="data.tipoDocumentoId == this.tipoDocEnum.NOTA_DEBITO">
            <mat-label>Tipo Nota Débito</mat-label>
            <mat-select formControlName="codigoTipoNota">
              <mat-option *ngFor="let item of tipoNotaDebitos" [value]="item.value">
                {{item.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>
      <div fxLayout fxLayout.xs="column wrap" fxLayoutGap="10px">
        <div fxFlex>
          <mat-checkbox formControlName="documentoFuenteValida" class="checkbox-margin" color="primary">Validado
          </mat-checkbox>
        </div>
      </div>
      <br />
    </div>
    <mat-divider></mat-divider>
    <br />
    <div class="table-container">
      <table mat-table [dataSource]="dataSource">
        <!-- Nro Column -->
        <ng-container matColumnDef="nro">
          <th mat-header-cell *matHeaderCellDef>Nro.</th>
          <td mat-cell *matCellDef="let element; let i = index">
            {{ i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef>
            Descripción (Bien o Servicio)
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.codigo }} - {{ element.descripcion }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef>Cantidad</th>
          <td mat-cell *matCellDef="let element">{{ element.cantidad }}</td>
        </ng-container>

        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef>Precio (S/.)</th>
          <td mat-cell *matCellDef="let element">
            {{ element.precioUnitario | number: '.2-2' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="descuento">
          <th mat-header-cell *matHeaderCellDef>Descuento (S/.) </th>
          <td mat-cell *matCellDef="let element">
            {{ element.descuentoItem | number: '.2-2' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="subTotal">
          <th mat-header-cell *matHeaderCellDef>Sub Total (S/.)</th>
          <td mat-cell *matCellDef="let element">
            {{ element.subTotal | number: '.2-2' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="valorVenta">
          <th mat-header-cell *matHeaderCellDef>Total (S/.)</th>
          <td mat-cell *matCellDef="let element">
            {{ element.valorVenta | number: '.2-2' }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <br />
    <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
      <div fxFlex>
        <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px">
          <div fxFlex>
            <mat-form-field appearance="fill">
              <mat-label>Observaciones</mat-label>
              <textarea matInput formControlName="observacion" readonly>
            </textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxFlex="30">
        <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px">
          <div fxFlex>
            <mat-form-field>
              <mat-label></mat-label>
              <span class="text-prefix" matPrefix>% Total Descuento: &nbsp;</span>
              <input matInput formControlName="totalDescuento" readonly />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px">
          <div fxFlex>
            <mat-form-field>
              <mat-label></mat-label>
              <span class="text-prefix" matPrefix>Exonerada (S/.): &nbsp;</span>
              <input matInput formControlName="totalOpExonerada" readonly />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px">
          <div fxFlex>
            <mat-form-field>
              <mat-label></mat-label>
              <span class="text-prefix" matPrefix>Inafecta (S/.): &nbsp;</span>
              <input matInput formControlName="totalOpInafecta" readonly />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px">
          <div fxFlex>
            <mat-form-field>
              <mat-label></mat-label>
              <span class="text-prefix" matPrefix>Gravada (S/.): &nbsp;</span>
              <input matInput formControlName="totalOpGravada" readonly />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px">
          <div fxFlex>
            <mat-form-field>
              <mat-label></mat-label>
              <span class="text-prefix" matPrefix>IGV ({{IGVEnum.PORCENTAJE}}%): &nbsp;</span>
              <input matInput formControlName="igvTotal" readonly />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px">
          <div fxFlex>
            <mat-form-field>
              <mat-label></mat-label>
              <span class="text-prefix" matPrefix>Total (S/.): &nbsp;</span>
              <input matInput formControlName="importeTotal" readonly />

            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="button" mat-dialog-close="">Cerrar</button>
  </mat-dialog-actions>
</form>