<h2 mat-dialog-title>Información de  Recibo de Ingreso</h2>
<form class="form" [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography" perfectScrollbar>
    <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
      <div fxFlex>
        <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
          <div fxFlex>
            <mat-form-field appearance="fill">
              <mat-label>Tipo Documento</mat-label>
              <mat-select formControlName="tipoDocumentoIdentidadId">
                <mat-option *ngFor="let item of tipoDocumentoClientes" [value]="item.tipoDocumentoIdentidadId">
                  {{item.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field appearance="fill">
              <mat-label>Número Documento</mat-label>
              <input matInput formControlName="numeroDocumento" readonly>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label> Nombre del Cliente </mat-label>
          <input matInput formControlName="nombreCliente" readonly>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Tipo Recibo Ingreso</mat-label>
          <mat-select formControlName="tipoReciboIngresoId">
            <mat-option *ngFor="let item of tipoReciboIngresos" [value]="item.tipoReciboIngresoId">
              {{item.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Cuenta Corriente</mat-label>
          <mat-select #select1 placeholder="Cuenta Corriente" formControlName="cuentaCorriente">
            <mat-select-filter *ngIf="select1.focused" [displayMember]="'numeroDenominacion'"
              [noResultsMessage]="'No se encontraron registros'" [placeholder]="'Buscar'" [array]="cuentasCorrientes"
              (filteredReturn)="filteredcuentasCorrientes =$event">
            </mat-select-filter>
            <mat-option *ngFor="let item of filteredcuentasCorrientes" [value]="item">
              {{item.numeroDenominacion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Fuente Financiamiento</mat-label>
          <mat-select formControlName="fuenteFinanciamientoId">
            <mat-option *ngFor="let item of fuenteFinanciamientos" [value]="item.fuenteFinanciamientoId">
              {{item.codigo}} -{{item.rubroCodigo}} - {{item.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex>
        <div fxLayout fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
          <div fxFlex>
            <mat-form-field appearance="fill">
              <mat-label>Tipo Captación</mat-label>
              <mat-select formControlName="tipoCaptacionId">
                <mat-option *ngFor="let item of tipoCaptaciones" [value]="item.tipoCaptacionId">
                  {{item.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field appearance="fill">
              <mat-label>Importe Total (S/.) </mat-label>
              <input matInput formControlName="importeTotal" readonly>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
      <div fxFlex>
        <mat-form-field *ngIf="hidenDeposito" appearance="fill">
          <mat-label>Número Deposito</mat-label>
          <input matInput formControlName="numeroDeposito" readonly>
        </mat-form-field>
      </div>
      <div fxFlex>
        <div fxLayout fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
          <div fxFlex>
            <mat-form-field *ngIf="hidenDeposito" appearance="fill">
              <mat-label>Fecha Depósito</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="fechaDeposito" readonly>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
      <div fxFlex *ngIf="hidenCheque">
        <mat-form-field appearance="fill">
          <mat-label>Número Cheque</mat-label>
          <input matInput formControlName="numeroCheque" readonly>
        </mat-form-field>
      </div>
      <div fxFlex>

      </div>
    </div>
    <div fxLayout fxLayout.xs="column wrap" fxLayoutGap="10px">
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Número Oficio</mat-label>
          <input matInput formControlName="numeroOficio" readonly>
        </mat-form-field>
      </div>

      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Número Comp. pago</mat-label>
          <input matInput formControlName="numeroComprobantePago" maxlength="12" readonly>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout fxLayout.xs="column wrap" fxLayoutGap="10px">
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Número SIAF</mat-label>
          <input matInput formControlName="expedienteSiaf" maxlength="12" readonly>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Resolución</mat-label>
          <input matInput formControlName="numeroResolucion" maxlength="25" readonly>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Liquidación de Ingresos</mat-label>
          <input matInput formControlName="liquidacionIngreso" maxlength="16" readonly>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Papeleta Depósito</mat-label>
          <input matInput formControlName="papeletaDeposito" maxlength="20" readonly>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Concepto</mat-label>
          <input matInput formControlName="concepto" maxlength="200" readonly>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Referencia</mat-label>
          <input matInput formControlName="referencia" maxlength="200" readonly>
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <h3 style="padding-top: 10px;">Detalle de recibo Ingreso</h3>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource">
        <!-- Nro Column -->
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef> Nro. </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="clasificadorIngreso">
          <th mat-header-cell *matHeaderCellDef> Clasificador de Ingreso </th>
          <td mat-cell *matCellDef="let element">
            {{element?.clasificadorIngreso?.descripcion}}
          </td>
          <td mat-footer-cell *matFooterCellDef style="text-align: right"> Total: </td>
        </ng-container>


        <ng-container matColumnDef="importe">
          <th mat-header-cell *matHeaderCellDef> Importe (S/.) </th>
          <td mat-cell *matCellDef="let element"> {{element?.importe| number:'.2-2'}} </td>
          <td mat-footer-cell *matFooterCellDef>{{getTotal() | number:'.2-2'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
    </div>
    <br>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="button" mat-dialog-close>Cerrar</button>
  </mat-dialog-actions>
</form>