<mat-sidenav-container>
    <mat-sidenav-content id="main">
        <mat-toolbar color="primary" class="flex-p-x" style="height: 60px !important;">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <a class="logo" routerLink="/">SIOGA</a>
                </div>
                <div fxLayout="row" fxLayoutAlign="end center">
                    <img src="./assets/img/app/logo_minedu_min.png" />
                  </div>
            </div>
        </mat-toolbar>
        <br>
        <div fxLayout="row" fxLayoutAlign="center center">

            <div fxLayout="column" fxLayoutAlign="center center">
                <div>
                    <img src="assets/img/simbolo-2.svg" width="300">
                </div>
                <div class="text-center">
                    <h1>EL método solicitado esta prohibido.</h1>
                    <p>Vaya a la página principal.</p>
                    <p><a mat-button color="primary" routerLink="/">Ir al Sistema de SIOGA</a></p>
                </div>

            </div>

        </div>
    </mat-sidenav-content>




</mat-sidenav-container>