<h2 mat-dialog-title>Editar Papeleta de Depósito</h2>
<form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)" autocomplete="off">
  <mat-dialog-content class="mat-typography" perfectScrollbar>
    <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Número</mat-label>
          <input matInput formControlName="numero" placeholder="" readonly>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Fecha Emisión</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fecha" readonly>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Cuenta Corriente <span class="text-required">*</span></mat-label>
          <mat-select #select1 placeholder="Cuenta Corriente" formControlName="cuentaCorriente">
            <mat-select-filter *ngIf="select1.focused" [displayMember]="'numeroDenominacion'"
              [noResultsMessage]="'No se encontraron registros'" [placeholder]="'Buscar'" [array]="cuentasCorrientes"
              (filteredReturn)="filteredcuentasCorrientes =$event">
            </mat-select-filter>
            <mat-option *ngFor="let item of filteredcuentasCorrientes" [value]="item"
              [disabled]="item.cuentaCorrienteId != data?.cuentaCorriente?.cuentaCorrienteId">
              {{item.numeroDenominacion}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.cuentaCorriente.errors?.required">*Requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label> Importe Recaudado (S/.) <span class="text-required">*</span> </mat-label>
          <input matInput formControlName="monto" maxlength="12" readonly>
          <mat-error *ngIf="form.controls.monto.errors?.required">*Requerido
          </mat-error>
          <mat-error *ngIf="form.controls.monto.errors?.pattern">
            Ingrese correctamente el importe recaudado
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Descripción </mat-label>
          <input matInput formControlName="descripcion" maxlength="300">
          <mat-error *ngIf="form.controls.descripcion.errors?.pattern">
            Ingrese correctamente la descripción
          </mat-error>
          <mat-error *ngIf="form.controls.descripcion.errors?.maxlength">
            La descripción no debe ser mayor a 300 caracteres
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <h3 style="padding-top: 10px;">Recibo de Ingresos</h3>
    <div fxLayout fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Número</mat-label>
          <input matInput onlyNumber blockCopyPaste formControlName="reciboIngresoNumero" maxlength="6">
          <button mat-icon-button type="button" matSuffix (click)="onSearchReciboIngreso()" aria-label="Add">
            <mat-icon style="font-size: 25px;">search</mat-icon>
          </button>
          <mat-error *ngIf="form.controls.reciboIngresoNumero.errors?.pattern">
            Ingrese correctamente el número
          </mat-error>
          <mat-error *ngIf="form.controls.reciboIngresoNumero.errors?.maxlength">
            El número no debe ser mayor a 6 caracteres
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Fecha Emisión</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="reciboIngresoFechaEmision" readonly>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label> Importe (S/.) </mat-label>
          <input matInput formControlName="reciboIngresoImporte" maxlength="12" placeholder="" readonly>
          <mat-error *ngIf="form.controls.reciboIngresoImporte.errors?.required">*Requerido
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
      <div fxFlex style="text-align: right;">
        <div class="button-row">
          <button mat-raised-button type="button" (click)="addRowData()">Agregar</button>
        </div>
      </div>
    </div>
    <br>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource">
        <!-- Nro Column -->
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef> Nro. </th>
          <td mat-cell *matCellDef="let row; let i = index"> {{ i + 1 }} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef> Número Recibo Ingreso </th>
          <td mat-cell *matCellDef="let row">{{row?.reciboIngreso?.numero}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="fechaEmision">
          <th mat-header-cell *matHeaderCellDef> Fecha Emisión </th>
          <td mat-cell *matCellDef="let row">{{row?.reciboIngreso?.fechaEmision | date:'dd-MM-yyyy'}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="cuentaCorriente">
          <th mat-header-cell *matHeaderCellDef> Cuenta Corriente </th>
          <td mat-cell *matCellDef="let row">
            {{row?.reciboIngreso?.cuentaCorriente?.numero}} - {{row?.reciboIngreso?.cuentaCorriente?.denominacion}}
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="tipoCaptacion">
          <th mat-header-cell *matHeaderCellDef> Tipo de Captación </th>
          <td mat-cell *matCellDef="let row"> {{row?.reciboIngreso?.tipoCaptacion?.nombre}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="numeroCheque">
          <th mat-header-cell *matHeaderCellDef> Número Cheque </th>
          <td mat-cell *matCellDef="let row"> {{row?.reciboIngreso?.numeroCheque}} </td>
          <td mat-footer-cell *matFooterCellDef> Total: </td>
        </ng-container>

        <ng-container matColumnDef="importe">
          <th mat-header-cell *matHeaderCellDef> Importe (S/.) </th>
          <td mat-cell *matCellDef="let element"> {{element?.monto | number:'.2-2'}} </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotal() | number:'.2-2'}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button type="button" (click)="deleteRowData(element);" aria-label="">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
    </div>

    <br>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCloseDialog()">Cerrar</button>
    <button mat-raised-button type="submit" [disabled]="!form.valid" color="primary">Actualizar</button>
  </mat-dialog-actions>
</form>