USE [db_recaudacion]
GO
/****** Object:  Table [dbo].[COMPROBANTE_EMISOR]    Script Date: 08/04/2022 04:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMPROBANTE_EMISOR](
	[COMPROBANTE_EMISOR_ID] [int] NOT NULL,
	[UNIDAD_EJECUTORA_ID] [int] NOT NULL,
	[COMPROBANTE_EMISOR_FIRMANTE] [varchar](50) NOT NULL,
	[COMPROBANTE_EMISOR_RUC] [varchar](11) NOT NULL,
	[COMPROBANTE_EMISOR_TIPO_DOCUMENTO] [char](2) NOT NULL,
	[COMPROBANTE_EMISOR_NOMBRE_COMERCIAL] [varchar](200) NOT NULL,
	[COMPROBANTE_EMISOR_RAZON_SOCIAL] [varchar](200) NOT NULL,
	[COMPROBANTE_EMISOR_UBIGEO] [varchar](20) NOT NULL,
	[COMPROBANTE_EMISOR_DIRECCION] [varchar](300) NOT NULL,
	[COMPROBANTE_EMISOR_URBANIZACION] [varchar](300) NULL,
	[COMPROBANTE_EMISOR_DEPARTAMENTO] [varchar](50) NOT NULL,
	[COMPROBANTE_EMISOR_PROVINCIA] [varchar](50) NOT NULL,
	[COMPROBANTE_EMISOR_DISTRITO] [varchar](50) NOT NULL,
	[COMPROBANTE_EMISOR_CODIGO_PAIS] [char](2) NOT NULL,
	[COMPROBANTE_EMISOR_TELEFONO] [varchar](15) NULL,
	[COMPROBANTE_EMISOR_DIRECCION_ALTERNATIVA] [varchar](300) NULL,
	[COMPROBANTE_EMISOR_NUMERO_RESOLUCION] [varchar](20) NOT NULL,
	[COMPROBANTE_EMISOR_USUARIO_OSE] [varchar](100) NOT NULL,
	[COMPROBANTE_EMISOR_CLAVE_OSE] [varchar](100) NOT NULL,
	[COMPROBANTE_EMISOR_CORREO_ENVIO] [varchar](100) NULL,
	[COMPROBANTE_EMISOR_CORREO_CLAVE] [varchar](100) NULL,
	[COMPROBANTE_EMISOR_SERVER_MAIL] [varchar](50) NULL,
	[COMPROBANTE_EMISOR_SEVER_PORT] [varchar](10) NULL,
	[COMPROBANTE_EMISOR_NOMBRE_CERTIFICADO] [varchar](100) NOT NULL,
	[COMPROBANTE_EMISOR_NOMBRE_KEY] [varchar](100) NOT NULL,
	[COMPROBANTE_EMISOR_ESTADO] [bit] NOT NULL,
	[USUARIO_CREADOR] [varchar](20) NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
	[USUARIO_MODIFICADOR] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[COMPROBANTE_EMISOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMPROBANTE_PAGOS]    Script Date: 08/04/2022 04:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMPROBANTE_PAGOS](
	[COMPROBANTE_PAGO_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLIENTE_ID] [int] NOT NULL,
	[UNIDAD_EJECUTORA_ID] [int] NOT NULL,
	[TIPO_COMPROBANTE_PAGO_ID] [int] NOT NULL,
	[TIPO_DOCUMENTO_ID] [int] NOT NULL,
	[DEPOSITO_BANCO_DETALLE_ID] [int] NULL,
	[CUENTA_CORRIENTE_ID] [int] NULL,
	[TIPO_CAPTACION_ID] [int] NOT NULL,
	[COMPROBANTE_EMISOR_ID] [int] NOT NULL,
	[COMPROBANTE_PAGO_SERIE] [varchar](10) NOT NULL,
	[COMPROBANTE_PAGO_CORRELATIVO] [varchar](12) NOT NULL,
	[COMPROBANTE_PAGO_FECHA_EMISION] [datetime] NOT NULL,
	[COMPROBANTE_PAGO_FECHA_VENCIMIENTO] [datetime] NOT NULL,
	[COMPROBANTE_PAGO_TIPO_ADQUISICION] [int] NOT NULL,
	[COMPROBANTE_PAGO_TIPO_CONDICION_PAGO] [int] NOT NULL,
	[COMPROBANTE_PAGO_NUMERO_DEPOSITO] [varchar](12) NULL,
	[COMPROBANTE_PAGO_FECHA_DEPOSITO] [datetime] NULL,
	[COMPROBANTE_PAGO_VALIDAR_DEPOSITO] [char](1) NULL,
	[COMPROBANTE_PAGO_NUMERO_CHEQUE] [varchar](25) NULL,
	[COMPROBANTE_PAGO_ENCARGADO_TIPO_DOCUMENTO] [int] NULL,
	[COMPROBANTE_PAGO_ENCARGADO_NOMBRE] [varchar](100) NULL,
	[COMPROBANTE_PAGO_ENCARGADO_NUMERO_DOCUMENTO] [varchar](12) NULL,
	[COMPROBANTE_PAGO_FUENTE_ID] [int] NULL,
	[COMPROBANTE_PAGO_FUENTE_ORIGEN] [char](1) NULL,
	[COMPROBANTE_PAGO_FUENTE_VALIDAR] [char](1) NULL,
	[COMPROBANTE_PAGO_SUSTENTO] [varchar](200) NULL,
	[COMPROBANTE_PAGO_OBSERVACION] [varchar](200) NULL,
	[COMPROBANTE_PAGO_NOMBRE_ARCHIVO] [varchar](100) NOT NULL,
	[COMPROBANTE_PAGO_TIPO_CAMBIO] [numeric](12, 4) NOT NULL,
	[COMPROBANTE_PAGO_PAGADO] [bit] NOT NULL,
	[COMPROBANTE_PAGO_ESTADO_SUNAT] [varchar](50) NULL,
	[COMPROBANTE_PAGO_CODIGO_TIPO_MONEDA] [varchar](25) NOT NULL,
	[COMPROBANTE_PAGO_IMPORTE_BRUTO] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_PAGO_VALOR_IGV] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_PAGO_IGV_TOTAL] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_PAGO_ISC_TOTAL] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_PAGO_OTR_TOTAL] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_PAGO_OTRC_TOTAL] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_PAGO_IMPORTE_TOTAL] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_PAGO_IMPORTE_TOTAL_LETRA] [varchar](300) NOT NULL,
	[COMPROBANTE_PAGO_TOTAL_VENTA_OPGRAVADA] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_PAGO_TOTAL_VENTA_OPINAFECTA] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_PAGO_TOTAL_VENTA_OPEXONERADA] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_PAGO_TOTAL_VENTA_OPGRATUITA] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_PAGO_TOTAL_DESCUENTO] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_PAGO_ORDEN_COMPRA] [varchar](25) NULL,
	[COMPROBANTE_PAGO_GUIA_REMISION] [varchar](25) NULL,
	[COMPROBANTE_PAGO_CODIGO_TIPO_NOTA] [varchar](25) NULL,
	[COMPROBANTE_PAGO_CODIGO_MOTIVO_NOTA] [varchar](25) NULL,
	[COMPROBANTE_PAGO_FUENTE_TIPO_DOCUMENTO] [int] NULL,
	[COMPROBANTE_PAGO_FUENTE_SERIE] [varchar](10) NULL,
	[COMPROBANTE_PAGO_FUENTE_CORRELATIVO] [varchar](12) NULL,
	[COMPROBANTE_PAGO_CODIGO_TIPO_OPERACION] [varchar](10) NOT NULL,
	[COMPROBANTE_PAGO_ESTADO] [int] NOT NULL,
	[USUARIO_CREADOR] [varchar](20) NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
	[USUARIO_MODIFICADOR] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_COMPROBANTE_PAGOS] PRIMARY KEY CLUSTERED 
(
	[COMPROBANTE_PAGO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMPROBANTE_PAGOS_DETALLE]    Script Date: 08/04/2022 04:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMPROBANTE_PAGOS_DETALLE](
	[COMPROBANTE_PAGO_DETALLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[COMPROBANTE_PAGO_ID] [int] NOT NULL,
	[CATALOGO_BIEN_ID] [int] NULL,
	[TARIFARIO_ID] [int] NULL,
	[CLASIFICADOR_INGRESO_ID] [int] NULL,
	[COMPROBANTE_PAGO_DETALLE_UNIDAD_MEDIDA] [varchar](25) NOT NULL,
	[COMPROBANTE_PAGO_DETALLE_CANTIDAD] [int] NOT NULL,
	[COMPROBANTE_PAGO_DETALLE_CODIGO] [varchar](25) NOT NULL,
	[COMPROBANTE_PAGO_DETALLE_DESCRIPCION] [varchar](200) NOT NULL,
	[COMPROBANTE_PAGO_DETALLE_CODIGO_TIPO_MONEDA] [varchar](25) NOT NULL,
	[COMPROBANTE_PAGO_DETALLE_PRECIO_UNITARIO] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_PAGO_DETALLE_CODIGO_TIPO_PRECIO] [varchar](25) NOT NULL,
	[COMPROBANTE_PAGO_DETALLE_AFECTO_IGV] [bit] NOT NULL,
	[COMPROBANTE_PAGO_DETALLE_IGV_ITEM] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_PAGO_DETALLE_CODIGO_TIPO_IGV] [int] NOT NULL,
	[COMPROBANTE_PAGO_DETALLE_DESCUENTO_ITEM] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_PAGO_DETALLE_DESCUENTO_TOTAL] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_PAGO_DETALLE_FACTOR_DESCUENTO] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_PAGO_DETALLE_SUB_TOTAL] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_PAGO_DETALLE_VALOR_VENTA] [numeric](12, 2) NOT NULL,
	[INGRESO_PECOSA_DETALLE_ID] [int] NULL,
	[COMPROBANTE_PAGO_DETALLE_SERIE_FORMATO] [varchar](20) NULL,
	[COMPROBANTE_PAGO_DETALLE_SERIE_DEL] [int] NULL,
	[COMPROBANTE_PAGO_DETALLE_SERIE_AL] [int] NULL,
	[COMPROBANTE_PAGO_DETALLE_ESTADO] [char](1) NULL,
	[USUARIO_CREADOR] [varchar](20) NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
	[USUARIO_MODIFICADOR] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_COMPROBANTE_PAGO_DETALLE] PRIMARY KEY CLUSTERED 
(
	[COMPROBANTE_PAGO_DETALLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMPROBANTE_RETENCION]    Script Date: 08/04/2022 04:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMPROBANTE_RETENCION](
	[COMPROBANTE_RETENCION_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLIENTE_ID] [int] NOT NULL,
	[UNIDAD_EJECUTORA_ID] [int] NOT NULL,
	[TIPO_DOCUMENTO_ID] [int] NOT NULL,
	[COMPROBANTE_RETENCION_SERIE] [varchar](10) NOT NULL,
	[COMPROBANTE_RETENCION_CORRELATIVO] [varchar](12) NOT NULL,
	[COMPROBANTE_RETENCION_FECHA_EMISION] [datetime] NOT NULL,
	[COMPROBANTE_RETENCION_PERIODO] [date] NOT NULL,
	[COMPROBANTE_RETENCION_REGIMEN] [char](2) NOT NULL,
	[COMPROBANTE_RETENCION_TOTAL] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_RETENCION_NOMBRE_ARCHIVO] [varchar](100) NOT NULL,
	[COMPROBANTE_RETENCION_OBSERVACION] [varchar](200) NULL,
	[COMPROBANTE_RETENCION_ESTADO_SUNAT] [varchar](50) NULL,
	[TIPO_COMPROBANTE_PAGO_ID] [int] NULL,
	[COMPROBANTE_RETENCION_TOTAL_PAGO] [numeric](12, 2) NULL,
	[COMPROBANTE_RETENCION_PORCENTAJE] [numeric](12, 2) NULL,
	[COMPROBANTE_RETENCION_ESTADO] [int] NOT NULL,
	[USUARIO_CREADOR] [varchar](20) NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
	[USUARIO_MODIFICADOR] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_COMPROBANTE_RETENCION] PRIMARY KEY CLUSTERED 
(
	[COMPROBANTE_RETENCION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMPROBANTE_RETENCION_DETALLE]    Script Date: 08/04/2022 04:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMPROBANTE_RETENCION_DETALLE](
	[COMPROBANTE_RETENCION_DETALLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[COMPROBANTE_RETENCION_ID] [int] NOT NULL,
	[COMPROBANTE_PAGO_ID] [int] NULL,
	[COMPROBANTE_RETENCION_DETALLE_TIPO_DOCUMENTO] [char](2) NOT NULL,
	[COMPROBANTE_RETENCION_DETALLE_SERIE] [varchar](10) NOT NULL,
	[COMPROBANTE_RETENCION_DETALLE_CORRELATIVO] [varchar](12) NOT NULL,
	[COMPROBANTE_RETENCION_DETALLE_FECHA_EMISION] [datetime] NOT NULL,
	[COMPROBANTE_RETENCION_DETALLE_IMPORTE_TOTAL] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_RETENCION_DETALLE_TIPO_MONEDA] [varchar](10) NOT NULL,
	[COMPROBANTE_RETENCION_DETALLE_IMPORTE_OPERACION] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_RETENCION_DETALLE_MODIFICA_NOTA_CREDITO] [bit] NOT NULL,
	[COMPROBANTE_RETENCION_DETALLE_NUMERO_CORRELATIVO_PAGO] [int] NOT NULL,
	[COMPROBANTE_RETENCION_DETALLE_FECHA_PAGO] [datetime] NOT NULL,
	[COMPROBANTE_RETENCION_DETALLE_TIPO_CAMBIO] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_RETENCION_DETALLE_IMPORTE_PAGO] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_RETENCION_DETALLE_TASA] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_RETENCION_DETALLE_IMPORTE_RETENIDO] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_RETENCION_DETALLE_FECHA] [datetime] NOT NULL,
	[COMPROBANTE_RETENCION_DETALLE_IMPORTE_NETO_PAGAGO] [numeric](12, 2) NOT NULL,
	[COMPROBANTE_RETENCION_DETALLE_ESTADO] [char](1) NOT NULL,
	[USUARIO_CREADOR] [varchar](20) NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
	[USUARIO_MODIFICADOR] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_COMPROBANTE_RETENCION_DETALLE] PRIMARY KEY CLUSTERED 
(
	[COMPROBANTE_RETENCION_DETALLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DEPOSITO_BANCOS]    Script Date: 08/04/2022 04:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPOSITO_BANCOS](
	[DEPOSITO_BANCO_ID] [int] IDENTITY(1,1) NOT NULL,
	[UNIDAD_EJECUTORA_ID] [int] NOT NULL,
	[BANCO_ID] [int] NOT NULL,
	[CUENTA_CORRIENTE_ID] [int] NOT NULL,
	[TIPO_DOCUMENTO_ID] [int] NOT NULL,
	[DEPOSITO_BANCO_NUMERO] [varchar](12) NOT NULL,
	[DEPOSITO_BANCO_IMPORTE] [numeric](12, 2) NOT NULL,
	[DEPOSITO_BANCO_FECHA_DEPOSITO] [datetime] NULL,
	[DEPOSITO_BANCO_FECHA_REGISTRO] [datetime] NOT NULL,
	[DEPOSITO_BANCO_NOMBRE_ARCHIVO] [varchar](50) NOT NULL,
	[DEPOSITO_BANCO_CANTIDAD] [int] NOT NULL,
	[DEPOSITO_BANCO_ESTADO] [int] NOT NULL,
	[USUARIO_CREADOR] [varchar](20) NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
	[USUARIO_MODIFICADOR] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_DEPOSITO_BANCOS] PRIMARY KEY CLUSTERED 
(
	[DEPOSITO_BANCO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DEPOSITO_BANCOS_DETALLE]    Script Date: 08/04/2022 04:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPOSITO_BANCOS_DETALLE](
	[DEPOSITO_BANCO_DETALLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[DEPOSITO_BANCO_ID] [int] NOT NULL,
	[CLIENTE_ID] [int] NOT NULL,
	[DEPOSITO_BANCO_DETALLE_NUMERO_DEPOSITO] [varchar](15) NOT NULL,
	[DEPOSITO_BANCO_DETALLE_IMPORTE] [numeric](12, 2) NOT NULL,
	[DEPOSITO_BANCO_DETALLE_FECHA_DEPOSITO] [datetime] NOT NULL,
	[DEPOSITO_BANCO_DETALLE_SECUENCIA] [varchar](10) NULL,
	[DEPOSITO_BANCO_DETALLE_SERIE_DOCUMENTO] [varchar](10) NULL,
	[DEPOSITO_BANCO_DETALLE_NUMERO_DOCUMENTO] [varchar](12) NULL,
	[DEPOSITO_BANCO_DETALLE_FECHA_DOCUMENTO] [datetime] NULL,
	[DEPOSITO_BANCO_DETALLE_TIPO_DOCUMENTO] [int] NULL,
	[DEPOSITO_BANCO_DETALLE_UTILIZADO] [bit] NOT NULL,
	[DEPOSITO_BANCO_DETALLE_ESTADO] [char](1) NOT NULL,
	[USUARIO_CREADOR] [varchar](20) NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
	[USUARIO_MODIFICADOR] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_DEPOSITO_BANCOS_DETALLE] PRIMARY KEY CLUSTERED 
(
	[DEPOSITO_BANCO_DETALLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ESTADOS]    Script Date: 08/04/2022 04:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESTADOS](
	[ESTADO_ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_DOCUMENTO_ID] [int] NOT NULL,
	[ESTADO_NUMERO] [int] NOT NULL,
	[ESTADO_ORDEN] [int] NOT NULL,
	[ESTADO_NOMBRE] [varchar](50) NOT NULL,
	[USUARIO_CREADOR] [varchar](20) NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
	[USUARIO_MODIFICADOR] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_ESTADO] PRIMARY KEY CLUSTERED 
(
	[ESTADO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GUIA_SALIDA_BIENES]    Script Date: 08/04/2022 04:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GUIA_SALIDA_BIENES](
	[GUIA_SALIDA_BIEN_ID] [int] IDENTITY(1,1) NOT NULL,
	[UNIDAD_EJECUTORA_ID] [int] NOT NULL,
	[TIPO_DOCUMENTO_ID] [int] NOT NULL,
	[GUIA_SALIDA_BIEN_NUMERO] [varchar](12) NOT NULL,
	[GUIA_SALIDA_BIEN_FECHA_REGISTRO] [datetime] NOT NULL,
	[GUIA_SALIDA_BIEN_JUSTIFICACION] [varchar](250) NULL,
	[GUIA_SALIDA_BIEN_ESTADO] [int] NOT NULL,
	[USUARIO_CREADOR] [varchar](20) NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
	[USUARIO_MODIFICADOR] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_GUIA_SALIDA_BIENES] PRIMARY KEY CLUSTERED 
(
	[GUIA_SALIDA_BIEN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GUIA_SALIDA_BIENES_DETALLE]    Script Date: 08/04/2022 04:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GUIA_SALIDA_BIENES_DETALLE](
	[GUIA_SALIDA_BIEN_DETALLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[GUIA_SALIDA_BIEN_ID] [int] NOT NULL,
	[CATALOGO_BIEN_ID] [int] NOT NULL,
	[INGRESO_PECOSA_DETALLE_ID] [int] NOT NULL,
	[GUIA_SALIDA_BIEN_DETALLE_CANTIDAD] [int] NOT NULL,
	[GUIA_SALIDA_BIEN_DETALLE_SERIE_FORMATO] [varchar](20) NOT NULL,
	[GUIA_SALIDA_BIEN_DETALLE_SERIE_DEL] [int] NOT NULL,
	[GUIA_SALIDA_BIEN_DETALLE_SERIE_AL] [int] NOT NULL,
	[GUIA_SALIDA_BIEN_DETALLE_ESTADO] [char](1) NOT NULL,
	[USUARIO_CREADOR] [varchar](20) NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
	[USUARIO_MODIFICADOR] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_GUIA_SALIDA_BIENES_DETALLE] PRIMARY KEY CLUSTERED 
(
	[GUIA_SALIDA_BIEN_DETALLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INGRESO_PECOSA]    Script Date: 08/04/2022 04:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INGRESO_PECOSA](
	[INGRESO_PECOSA_ID] [int] IDENTITY(1,1) NOT NULL,
	[UNIDAD_EJECUTORA_ID] [int] NOT NULL,
	[TIPO_DOCUMENTO_ID] [int] NOT NULL,
	[INGRESO_PECOSA_ANIO] [int] NOT NULL,
	[INGRESO_PECOSA_TIPO_BIEN] [char](1) NULL,
	[INGRESO_PECOSA_NUMERO] [int] NOT NULL,
	[INGRESO_PECOSA_FECHA] [datetime] NOT NULL,
	[INGRESO_PECOSA_NOMBRE_ALMACEN] [varchar](250) NULL,
	[INGRESO_PECOSA_MOTIVO_PEDIDO] [varchar](250) NULL,
	[INGRESO_PECOSA_FECHA_REGISTRO] [datetime] NOT NULL,
	[INGRESO_PECOSA_ESTADO] [int] NOT NULL,
	[USUARIO_CREADOR] [varchar](20) NOT NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_MODIFICADOR] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_INGRESO_PECOSA] PRIMARY KEY CLUSTERED 
(
	[INGRESO_PECOSA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INGRESO_PECOSA_DETALLE]    Script Date: 08/04/2022 04:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INGRESO_PECOSA_DETALLE](
	[INGRESO_PECOSA_DETALLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[INGRESO_PECOSA_ID] [int] NOT NULL,
	[CATALOGO_BIEN_ID] [int] NOT NULL,
	[INGRESO_PECOSA_DETALLE_UNIDAD_MEDIDA] [varchar](50) NULL,
	[INGRESO_PECOSA_DETALLE_CODIGO_ITEM] [varchar](20) NOT NULL,
	[INGRESO_PECOSA_DETALLE_NOMBRE_ITEM] [varchar](200) NOT NULL,
	[INGRESO_PECOSA_DETALLE_NOMBRE_MARCA] [varchar](100) NULL,
	[INGRESO_PECOSA_DETALLE_CANTIDAD] [int] NOT NULL,
	[INGRESO_PECOSA_DETALLE_CANTIDAD_SALIDA] [int] NOT NULL,
	[INGRESO_PECOSA_DETALLE_PRECIO_UNITARIO] [numeric](12, 2) NULL,
	[INGRESO_PECOSA_DETALLE_VALOR_TOTAL] [numeric](12, 2) NULL,
	[INGRESO_PECOSA_DETALLE_SERIE_FORMATO] [varchar](20) NOT NULL,
	[INGRESO_PECOSA_DETALLE_SERIE_DEL] [int] NOT NULL,
	[INGRESO_PECOSA_DETALLE_SERIE_AL] [int] NOT NULL,
	[INGRESO_PECOSA_DETALLE_ESTADO] [char](1) NOT NULL,
	[USUARIO_CREADOR] [varchar](20) NOT NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_MODIFICADOR] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_INGRESO_PECOSA_DETALLE] PRIMARY KEY CLUSTERED 
(
	[INGRESO_PECOSA_DETALLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LIQUIDACION_RECAUDACION]    Script Date: 08/04/2022 04:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LIQUIDACION_RECAUDACION](
	[LIQUIDACION_RECAUDACION_ID] [int] IDENTITY(1,1) NOT NULL,
	[UNIDAD_EJECUTORA_ID] [int] NOT NULL,
	[FUENTE_FINANCIAMIENTO_ID] [int] NOT NULL,
	[TIPO_DOCUMENTO_ID] [int] NOT NULL,
	[RECIBO_INGRESO_ID] [int] NULL,
	[CLIENTE_ID] [int] NOT NULL,
	[CUENTA_CORRIENTE_ID] [int] NOT NULL,
	[LIQUIDACION_RECAUDACION_NUMERO] [varchar](12) NOT NULL,
	[LIQUIDACION_RECAUDACION_PROCEDENCIA] [varchar](200) NOT NULL,
	[LIQUIDACION_RECAUDACION_FECHA] [datetime] NOT NULL,
	[LIQUIDACION_RECAUDACION_TOTAL] [numeric](12, 2) NOT NULL,
	[LIQUIDACION_RECAUDACION_FACTURA] [varchar](50) NULL,
	[LIQUIDACION_RECAUDACION_BOLETA] [varchar](50) NULL,
	[LIQUIDACION_RECAUDACION_ESTADO] [int] NOT NULL,
	[USUARIO_CREADOR] [varchar](20) NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
	[USUARIO_MODIFICADOR] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_LIQUIDACION_RECAUDACION] PRIMARY KEY CLUSTERED 
(
	[LIQUIDACION_RECAUDACION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LIQUIDACION_RECAUDACION_DETALLE]    Script Date: 08/04/2022 04:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LIQUIDACION_RECAUDACION_DETALLE](
	[LIQUIDACION_RECAUDACION_DETALLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[LIQUIDACION_RECAUDACION_ID] [int] NOT NULL,
	[CLASIFICADOR_INGRESO_ID] [int] NOT NULL,
	[COMPROBANTE_PAGO_DETALLE_ID] [int] NOT NULL,
	[TIPO_CAPTACION_ID] [int] NOT NULL,
	[LIQUIDACION_RECAUDACION_DETALLE_TOTAL] [numeric](12, 2) NOT NULL,
	[LIQUIDACION_RECAUDACION_DETALLE_ESTADO] [char](1) NOT NULL,
	[USUARIO_CREADOR] [varchar](20) NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
	[USUARIO_MODIFICADOR] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_LIQUIDACION_RECAUDACION_DET] PRIMARY KEY CLUSTERED 
(
	[LIQUIDACION_RECAUDACION_DETALLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAPELETA_DEPOSITOS]    Script Date: 08/04/2022 04:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAPELETA_DEPOSITOS](
	[PAPELETA_DEPOSITO_ID] [int] IDENTITY(1,1) NOT NULL,
	[UNIDAD_EJECUTORA_ID] [int] NOT NULL,
	[BANCO_ID] [int] NOT NULL,
	[CUENTA_CORRIENTE_ID] [int] NOT NULL,
	[TIPO_DOCUMENTO_ID] [int] NOT NULL,
	[PAPELETA_DEPOSITO_NUMERO] [varchar](12) NOT NULL,
	[PAPELETA_DEPOSITO_FECHA] [datetime] NOT NULL,
	[PAPELETA_DEPOSITO_MONTO] [numeric](12, 2) NOT NULL,
	[PAPELETA_DEPOSITO_DESCRIPCION] [varchar](300) NOT NULL,
	[PAPELETA_DEPOSITO_ESTADO] [int] NOT NULL,
	[USUARIO_CREADOR] [varchar](20) NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
	[USUARIO_MODIFICADOR] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_PAPELETA_DEPOSITOS] PRIMARY KEY CLUSTERED 
(
	[PAPELETA_DEPOSITO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAPELETA_DEPOSITOS_DETALLE]    Script Date: 08/04/2022 04:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAPELETA_DEPOSITOS_DETALLE](
	[PAPELETA_DEPOSITO_DETALLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PAPELETA_DEPOSITO_ID] [int] NOT NULL,
	[RECIBO_INGRESO_ID] [int] NOT NULL,
	[PAPELETA_DEPOSITO_DETALLE_MONTO] [numeric](12, 2) NOT NULL,
	[PAPELETA_DEPOSITO_DETALLE_ESTADO] [char](1) NOT NULL,
	[USUARIO_CREADOR] [varchar](20) NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
	[USUARIO_MODIFICADOR] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_PAPELETA_DEPOSITOS_DETALLE] PRIMARY KEY CLUSTERED 
(
	[PAPELETA_DEPOSITO_DETALLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PARAMETROS]    Script Date: 08/04/2022 04:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PARAMETROS](
	[PARAMETRO_ID] [int] IDENTITY(1,1) NOT NULL,
	[UNIDAD_EJECUTORA_ID] [int] NOT NULL,
	[TIPO_DOCUMENTO_ID] [int] NOT NULL,
	[PARAMETRO_SERIE] [varchar](10) NOT NULL,
	[PARAMETRO_CORRELATIVO] [varchar](12) NOT NULL,
	[PARAMETRO_ESTADO] [bit] NOT NULL,
	[USUARIO_CREADOR] [varchar](20) NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
	[USUARIO_MODIFICADOR] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_PARAMETROS] PRIMARY KEY CLUSTERED 
(
	[PARAMETRO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RECIBO_INGRESOS]    Script Date: 08/04/2022 04:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RECIBO_INGRESOS](
	[RECIBO_INGRESO_ID] [int] IDENTITY(1,1) NOT NULL,
	[UNIDAD_EJECUTORA_ID] [int] NOT NULL,
	[TIPO_RECIBO_INGRESO_ID] [int] NOT NULL,
	[CLIENTE_ID] [int] NOT NULL,
	[CUENTA_CORRIENTE_ID] [int] NOT NULL,
	[FUENTE_FINANCIAMIENTO_ID] [int] NOT NULL,
	[TIPO_DOCUMENTO_ID] [int] NOT NULL,
	[LIQUIDACION_RECAUDACION_ID] [int] NULL,
	[RECIBO_INGRESO_NUMERO] [varchar](12) NOT NULL,
	[RECIBO_INGRESO_FECHA_EMISION] [datetime] NOT NULL,
	[TIPO_CAPTACION_ID] [int] NOT NULL,
	[DEPOSITO_BANCO_DETALLE_ID] [int] NULL,
	[RECIBO_INGRESO_IMPORTE_TOTAL] [numeric](12, 2) NOT NULL,
	[RECIBO_INGRESO_NUMERO_DEPOSITO] [varchar](15) NULL,
	[RECIBO_INGRESO_FECHA_DEPOSITO] [datetime] NULL,
	[RECIBO_INGRESO_VALIDAR_DEPOSITO] [char](1) NULL,
	[RECIBO_INGRESO_NUMERO_CHEQUE] [varchar](25) NULL,
	[RECIBO_INGRESO_NUMERO_OFICIO] [varchar](25) NULL,
	[RECIBO_INGRESO_NUMERO_COMPROBANTE_PAGO] [varchar](25) NULL,
	[RECIBO_INGRESO_EXPEDIENTE_SIAF] [varchar](25) NULL,
	[RECIBO_INGRESO_NUMERO_RESOLUCION] [varchar](25) NULL,
	[RECIBO_INGRESO_CARTA_ORDEN] [varchar](25) NULL,
	[RECIBO_INGRESO_LIQUIDACION_INGRESO] [varchar](25) NULL,
	[RECIBO_INGRESO_PAPELETA_DEPOSITO] [varchar](25) NULL,
	[RECIBO_INGRESO_CONCEPTO] [varchar](300) NULL,
	[RECIBO_INGRESO_REFERENCIA] [varchar](300) NULL,
	[REGISTRO_LINEA_ID] [int] NULL,
	[RECIBO_INGRESO_ESTADO] [int] NOT NULL,
	[USUARIO_CREADOR] [varchar](20) NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
	[USUARIO_MODIFICADOR] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_RECIBO_INGRESOS] PRIMARY KEY CLUSTERED 
(
	[RECIBO_INGRESO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RECIBO_INGRESOS_DETALLE]    Script Date: 08/04/2022 04:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RECIBO_INGRESOS_DETALLE](
	[RECIBO_INGRESO_DETALLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[RECIBO_INGRESO_ID] [int] NOT NULL,
	[CLASIFICADOR_INGRESO_ID] [int] NOT NULL,
	[RECIBO_INGRESO_DETALLE_IMPORTE] [numeric](12, 2) NOT NULL,
	[RECIBO_INGRESO_DETALLE_REFERENCIA] [varchar](100) NULL,
	[RECIBO_INGRESO_DETALLE_ESTADO] [char](1) NOT NULL,
	[USUARIO_CREADOR] [varchar](20) NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
	[USUARIO_MODIFICADOR] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_RECIBO_INGRESOS_DETALLE] PRIMARY KEY CLUSTERED 
(
	[RECIBO_INGRESO_DETALLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REGISTROS_LINEA]    Script Date: 08/04/2022 04:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REGISTROS_LINEA](
	[REGISTRO_LINEA_ID] [int] IDENTITY(1,1) NOT NULL,
	[UNIDAD_EJECUTORA_ID] [int] NOT NULL,
	[CUENTA_CORRIENTE_ID] [int] NOT NULL,
	[BANCO_ID] [int] NOT NULL,
	[CLIENTE_ID] [int] NOT NULL,
	[TIPO_DOCUMENTO_ID] [int] NOT NULL,
	[REGISTRO_LINEA_NUMERO] [varchar](12) NOT NULL,
	[REGISTRO_LINEA_FECHA_REGISTRO] [datetime] NOT NULL,
	[TIPO_RECIBO_INGRESO_ID] [int] NOT NULL,
	[DEPOSITO_BANCO_DETALLE_ID] [int] NULL,
	[REGISTRO_LINEA_NUMERO_DEPOSITO] [varchar](15) NOT NULL,
	[REGISTRO_LINEA_IMPORTE_DEPOSITO] [numeric](12, 2) NOT NULL,
	[REGISTRO_LINEA_FECHA_DEPOSITO] [datetime] NOT NULL,
	[REGISTRO_LINEA_VALIDAR_DEPOSITO] [char](1) NOT NULL,
	[REGISTRO_LINEA_NUMERO_OFICIO] [varchar](25) NULL,
	[REGISTRO_LINEA_NUMERO_COMPROBANTE_PAGO] [varchar](25) NULL,
	[REGISTRO_LINEA_EXPEDIENTE_SIAF] [varchar](25) NULL,
	[REGISTRO_LINEA_NUMERO_RESOLUCION] [varchar](25) NULL,
	[REGISTRO_LINEA_EXPEDIENTE_ESINAD] [varchar](30) NULL,
	[REGISTRO_LINEA_NUMERO_ESINAD] [int] NULL,
	[REGISTRO_LINEA_OBSERVACION] [varchar](300) NULL,
	[RECIBO_INGRESO_ID] [int] NULL,
	[REGISTRO_LINEA_ESTADO] [int] NOT NULL,
	[USUARIO_CREADOR] [varchar](20) NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
	[USUARIO_MODIFICADOR] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_REGISTROS_LINEA] PRIMARY KEY CLUSTERED 
(
	[REGISTRO_LINEA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REGISTROS_LINEA_DETALLE]    Script Date: 08/04/2022 04:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REGISTROS_LINEA_DETALLE](
	[REGISTRO_LINEA_DETALLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[REGISTRO_LINEA_ID] [int] NOT NULL,
	[CLASIFICADOR_INGRESO_ID] [int] NOT NULL,
	[REGISTRO_LINEA_DETALLE_IMPORTE] [numeric](12, 2) NOT NULL,
	[REGISTRO_LINEA_DETALLE_REFERENCIA] [varchar](100) NULL,
	[REGISTRO_LINEA_DETALLE_ESTADO] [char](1) NOT NULL,
	[USUARIO_CREADOR] [varchar](20) NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
	[USUARIO_MODIFICADOR] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_REGISTROS_LINEA_DETALLE] PRIMARY KEY CLUSTERED 
(
	[REGISTRO_LINEA_DETALLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPO_DOCUMENTO]    Script Date: 08/04/2022 04:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_DOCUMENTO](
	[TIPO_DOCUMENTO_ID] [int] NOT NULL,
	[TIPO_DOCUMENTO_NOMBRE] [varchar](50) NOT NULL,
	[TIPO_DOCUMENTO_ABREVIATURA] [varchar](10) NOT NULL,
	[TIPO_DOCUMENTO_ESTADO] [bit] NOT NULL,
	[USUARIO_CREADOR] [varchar](20) NOT NULL,
	[FECHA_CREACION] [datetime] NOT NULL,
	[USUARIO_MODIFICADOR] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_TIPO_DOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[TIPO_DOCUMENTO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[COMPROBANTE_PAGOS]  WITH CHECK ADD  CONSTRAINT [FK_COMPROBANTE_PAGOS_COMPROBANTE_EMISOR] FOREIGN KEY([COMPROBANTE_EMISOR_ID])
REFERENCES [dbo].[COMPROBANTE_EMISOR] ([COMPROBANTE_EMISOR_ID])
GO
ALTER TABLE [dbo].[COMPROBANTE_PAGOS] CHECK CONSTRAINT [FK_COMPROBANTE_PAGOS_COMPROBANTE_EMISOR]
GO
ALTER TABLE [dbo].[COMPROBANTE_PAGOS]  WITH CHECK ADD  CONSTRAINT [FK_COMPROBANTE_PAGOS_TIPO_DOCUMENTO] FOREIGN KEY([TIPO_DOCUMENTO_ID])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([TIPO_DOCUMENTO_ID])
GO
ALTER TABLE [dbo].[COMPROBANTE_PAGOS] CHECK CONSTRAINT [FK_COMPROBANTE_PAGOS_TIPO_DOCUMENTO]
GO
ALTER TABLE [dbo].[COMPROBANTE_PAGOS_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_COMPROBANTE_PAGOS_DETALLE_COMPROBANTE_PAGOS] FOREIGN KEY([COMPROBANTE_PAGO_ID])
REFERENCES [dbo].[COMPROBANTE_PAGOS] ([COMPROBANTE_PAGO_ID])
GO
ALTER TABLE [dbo].[COMPROBANTE_PAGOS_DETALLE] CHECK CONSTRAINT [FK_COMPROBANTE_PAGOS_DETALLE_COMPROBANTE_PAGOS]
GO
ALTER TABLE [dbo].[COMPROBANTE_RETENCION]  WITH CHECK ADD  CONSTRAINT [FK_COMPROBANTE_RETENCION_TIPO_DOCUMENTO] FOREIGN KEY([TIPO_DOCUMENTO_ID])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([TIPO_DOCUMENTO_ID])
GO
ALTER TABLE [dbo].[COMPROBANTE_RETENCION] CHECK CONSTRAINT [FK_COMPROBANTE_RETENCION_TIPO_DOCUMENTO]
GO
ALTER TABLE [dbo].[COMPROBANTE_RETENCION_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_COMPROBANTE_RETENCION_DETALLE_COMPROBANTE_RETENCION] FOREIGN KEY([COMPROBANTE_RETENCION_ID])
REFERENCES [dbo].[COMPROBANTE_RETENCION] ([COMPROBANTE_RETENCION_ID])
GO
ALTER TABLE [dbo].[COMPROBANTE_RETENCION_DETALLE] CHECK CONSTRAINT [FK_COMPROBANTE_RETENCION_DETALLE_COMPROBANTE_RETENCION]
GO
ALTER TABLE [dbo].[DEPOSITO_BANCOS]  WITH CHECK ADD  CONSTRAINT [FK_DEPOSITO_BANCOS_TIPO_DOCUMENTO] FOREIGN KEY([TIPO_DOCUMENTO_ID])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([TIPO_DOCUMENTO_ID])
GO
ALTER TABLE [dbo].[DEPOSITO_BANCOS] CHECK CONSTRAINT [FK_DEPOSITO_BANCOS_TIPO_DOCUMENTO]
GO
ALTER TABLE [dbo].[DEPOSITO_BANCOS_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_DEPOSITO_BANCOS_DETALLE_DEPOSITO_BANCOS] FOREIGN KEY([DEPOSITO_BANCO_ID])
REFERENCES [dbo].[DEPOSITO_BANCOS] ([DEPOSITO_BANCO_ID])
GO
ALTER TABLE [dbo].[DEPOSITO_BANCOS_DETALLE] CHECK CONSTRAINT [FK_DEPOSITO_BANCOS_DETALLE_DEPOSITO_BANCOS]
GO
ALTER TABLE [dbo].[ESTADOS]  WITH CHECK ADD  CONSTRAINT [FK_ESTADOS_TIPO_DOCUMENTO] FOREIGN KEY([TIPO_DOCUMENTO_ID])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([TIPO_DOCUMENTO_ID])
GO
ALTER TABLE [dbo].[ESTADOS] CHECK CONSTRAINT [FK_ESTADOS_TIPO_DOCUMENTO]
GO
ALTER TABLE [dbo].[GUIA_SALIDA_BIENES]  WITH CHECK ADD  CONSTRAINT [FK_GUIA_SALIDA_BIENES_TIPO_DOCUMENTO] FOREIGN KEY([TIPO_DOCUMENTO_ID])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([TIPO_DOCUMENTO_ID])
GO
ALTER TABLE [dbo].[GUIA_SALIDA_BIENES] CHECK CONSTRAINT [FK_GUIA_SALIDA_BIENES_TIPO_DOCUMENTO]
GO
ALTER TABLE [dbo].[GUIA_SALIDA_BIENES_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_GUIA_SALIDA_BIENES_DETALLE_GUIA_SALIDA_BIENES] FOREIGN KEY([GUIA_SALIDA_BIEN_ID])
REFERENCES [dbo].[GUIA_SALIDA_BIENES] ([GUIA_SALIDA_BIEN_ID])
GO
ALTER TABLE [dbo].[GUIA_SALIDA_BIENES_DETALLE] CHECK CONSTRAINT [FK_GUIA_SALIDA_BIENES_DETALLE_GUIA_SALIDA_BIENES]
GO
ALTER TABLE [dbo].[INGRESO_PECOSA]  WITH CHECK ADD  CONSTRAINT [FK_INGRESO_PECOSA_TIPO_DOCUMENTO] FOREIGN KEY([TIPO_DOCUMENTO_ID])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([TIPO_DOCUMENTO_ID])
GO
ALTER TABLE [dbo].[INGRESO_PECOSA] CHECK CONSTRAINT [FK_INGRESO_PECOSA_TIPO_DOCUMENTO]
GO
ALTER TABLE [dbo].[INGRESO_PECOSA_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_INGRESO_PECOSA_DETALLE_INGRESO_PECOSA] FOREIGN KEY([INGRESO_PECOSA_ID])
REFERENCES [dbo].[INGRESO_PECOSA] ([INGRESO_PECOSA_ID])
GO
ALTER TABLE [dbo].[INGRESO_PECOSA_DETALLE] CHECK CONSTRAINT [FK_INGRESO_PECOSA_DETALLE_INGRESO_PECOSA]
GO
ALTER TABLE [dbo].[LIQUIDACION_RECAUDACION]  WITH CHECK ADD  CONSTRAINT [FK_LIQUIDACION_RECAUDACION_TIPO_DOCUMENTO] FOREIGN KEY([TIPO_DOCUMENTO_ID])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([TIPO_DOCUMENTO_ID])
GO
ALTER TABLE [dbo].[LIQUIDACION_RECAUDACION] CHECK CONSTRAINT [FK_LIQUIDACION_RECAUDACION_TIPO_DOCUMENTO]
GO
ALTER TABLE [dbo].[LIQUIDACION_RECAUDACION_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_LIQUIDACION_RECAUDACION_DETALLE_LIQUIDACION_RECAUDACION] FOREIGN KEY([LIQUIDACION_RECAUDACION_ID])
REFERENCES [dbo].[LIQUIDACION_RECAUDACION] ([LIQUIDACION_RECAUDACION_ID])
GO
ALTER TABLE [dbo].[LIQUIDACION_RECAUDACION_DETALLE] CHECK CONSTRAINT [FK_LIQUIDACION_RECAUDACION_DETALLE_LIQUIDACION_RECAUDACION]
GO
ALTER TABLE [dbo].[PAPELETA_DEPOSITOS]  WITH CHECK ADD  CONSTRAINT [FK_PAPELETA_DEPOSITOS_TIPO_DOCUMENTO] FOREIGN KEY([TIPO_DOCUMENTO_ID])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([TIPO_DOCUMENTO_ID])
GO
ALTER TABLE [dbo].[PAPELETA_DEPOSITOS] CHECK CONSTRAINT [FK_PAPELETA_DEPOSITOS_TIPO_DOCUMENTO]
GO
ALTER TABLE [dbo].[PAPELETA_DEPOSITOS_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_PAPELETA_DEPOSITOS_DETALLE_PAPELETA_DEPOSITOS] FOREIGN KEY([PAPELETA_DEPOSITO_ID])
REFERENCES [dbo].[PAPELETA_DEPOSITOS] ([PAPELETA_DEPOSITO_ID])
GO
ALTER TABLE [dbo].[PAPELETA_DEPOSITOS_DETALLE] CHECK CONSTRAINT [FK_PAPELETA_DEPOSITOS_DETALLE_PAPELETA_DEPOSITOS]
GO
ALTER TABLE [dbo].[PARAMETROS]  WITH CHECK ADD  CONSTRAINT [FK_PARAMETROS_TIPO_DOCUMENTO] FOREIGN KEY([TIPO_DOCUMENTO_ID])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([TIPO_DOCUMENTO_ID])
GO
ALTER TABLE [dbo].[PARAMETROS] CHECK CONSTRAINT [FK_PARAMETROS_TIPO_DOCUMENTO]
GO
ALTER TABLE [dbo].[RECIBO_INGRESOS_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_RECIBO_INGRESOS_DETALLE_RECIBO_INGRESOS] FOREIGN KEY([RECIBO_INGRESO_ID])
REFERENCES [dbo].[RECIBO_INGRESOS] ([RECIBO_INGRESO_ID])
GO
ALTER TABLE [dbo].[RECIBO_INGRESOS_DETALLE] CHECK CONSTRAINT [FK_RECIBO_INGRESOS_DETALLE_RECIBO_INGRESOS]
GO
ALTER TABLE [dbo].[REGISTROS_LINEA]  WITH CHECK ADD  CONSTRAINT [FK_REGISTROS_LINEA_TIPO_DOCUMENTO] FOREIGN KEY([TIPO_DOCUMENTO_ID])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([TIPO_DOCUMENTO_ID])
GO
ALTER TABLE [dbo].[REGISTROS_LINEA] CHECK CONSTRAINT [FK_REGISTROS_LINEA_TIPO_DOCUMENTO]
GO
ALTER TABLE [dbo].[REGISTROS_LINEA_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_REGISTROS_LINEA_DETALLE_REGISTROS_LINEA] FOREIGN KEY([REGISTRO_LINEA_ID])
REFERENCES [dbo].[REGISTROS_LINEA] ([REGISTRO_LINEA_ID])
GO
ALTER TABLE [dbo].[REGISTROS_LINEA_DETALLE] CHECK CONSTRAINT [FK_REGISTROS_LINEA_DETALLE_REGISTROS_LINEA]
GO
