<h2 mat-dialog-title>
  Editar Fuente Financiamiento
</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" #psForm="ngForm" autocomplete="off">
  <div mat-dialog-content perfectScrollbar>
    <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
      <div fxFlex="30">
        <mat-form-field appearance="fill">
          <mat-label>Código <span class="text-required">*</span></mat-label>
          <input matInput formControlName="codigo" maxlength="2" />
          <mat-error *ngIf="form.controls.codigo.errors?.required">*Requerido
          </mat-error>
          <mat-error *ngIf="form.controls.codigo.errors?.pattern">
            Ingrese correctamente el código
          </mat-error>
          <mat-error *ngIf="form.controls.codigo.errors?.maxlength">
            El código no debe ser mayor a 2 caracteres
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Descripción <span class="text-required">*</span></mat-label>
          <input matInput formControlName="descripcion" maxlength="100" />
          <mat-error *ngIf="form.controls.descripcion.errors?.required">*Requerido
          </mat-error>
          <mat-error *ngIf="form.controls.descripcion.errors?.pattern">
            Ingrese correctamente la descripción
          </mat-error>
          <mat-error *ngIf="form.controls.descripcion.errors?.maxlength">
            El descripción no debe ser mayor a 100 caracteres
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column wrap" fxLayoutGap="10px" fxFlexFill>
      <div fxFlex="30">
        <mat-form-field appearance="fill">
          <mat-label>Código de Rubro <span class="text-required">*</span></mat-label>
          <input matInput formControlName="rubroCodigo" maxlength="10" />
          <mat-error *ngIf="form.controls.rubroCodigo.errors?.required">*Requerido
          </mat-error>
          <mat-error *ngIf="form.controls.rubroCodigo.errors?.pattern">
            Ingrese correctamente el código de rubro
          </mat-error>
          <mat-error *ngIf="form.controls.rubroCodigo.errors?.maxlength">
            El código de rubro no debe ser mayor a 10 caracteres
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field appearance="fill">
          <mat-label>Descripción de Rubro <span class="text-required">*</span></mat-label>
          <input matInput formControlName="rubroDescripcion" maxlength="100" />
          <mat-error *ngIf="form.controls.rubroDescripcion.errors?.required">*Requerido
          </mat-error>
          <mat-error *ngIf="form.controls.rubroDescripcion.errors?.pattern">
            Ingrese correctamente la descripción del rubro
          </mat-error>
          <mat-error *ngIf="form.controls.rubroDescripcion.errors?.maxlength">
            La descripción del rubro no debe ser mayor a 100 caracteres
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button type="button" mat-button (click)="onCloseDialog()">Cerrar</button>
    <button type="submit" mat-raised-button [disabled]="!form.valid"
      color="primary">Actualizar</button>
  </mat-dialog-actions>
</form>