<div fxLayout="column" fxLayout.gt-sm="row wrap">
  <div fxFlex="100" class="flex-p">
    <mat-card>
      <mat-card-header fxLayoutAlign="left">
        <mat-card-subtitle>
          <h2>Bienvenido</h2>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <div fxLayout="column" fxLayout.gt-sm="row wrap">

          <div fxFlex="60" class="flex-p">
            <img class="img-index" src="assets/img/app/recauda.png" alt="">
          </div>
          <div fxFlex="40" class="flex-p">
            <h2>Módulo de Recaudación</h2>
            <div style="margin-top: 10px;">
              <p>
                El Módulo de Recaudación de la Oficina de Tesorería del MINEDU, es un aplicación Web que informatiza los procedimientos de recaudación de los recursos económicos que desarrolla la Oficina de Tesorería del MINEDU. 
                Esta aplicación Web facilita la emisión de comprobantes de pago y la emisión de los documentos utilizados por la Oficina de Tesorería, así como la administración de los formatos educativos distribuidos por el MINEDU.
              </p>
              <br>
              
            </div>
          </div>
        </div>


      </mat-card-content>

    </mat-card>
  </div>
</div>
